* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.container {
  width: 1100px;
  margin: auto;
}

section {
  display: flex;
  margin-top: 40px;
}

img {
  width: 550px;
  height: 700px;
  object-fit: cover;
}

h3 {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 24px;
}

p {
  margin-top: 12px;
  font-size: 16px;
}

.member-img {
  position: relative;
}

.img-left {
  left: 4%;
}

.img-right {
  right: 4%;
}

.member-bio {
  /* margin: 24px auto; */
  padding: 2em;
  height: 650px;
  mix-blend-mode: screen;
  align-self: center;

}

.bio-left {
  background: var(--light-brown);
  padding-left: 3em ;
  padding-right: 5em;
}

.bio-right {
  background: var(--orange);
  padding-left: 5em ;
  padding-right: 3em;
  color: white;
}
