footer {
    background-color: #000;
    color: #fff;
    padding: 40px;
}

.footer-logo {
    width: 100px;
    height: 100px;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-social-links {
    list-style: none;
    display: flex;
    gap: 16px;
}

.footer-social-link {
    font-size: 32px;
    color: white;
    border-radius: 40%;
    display: block;
}

.footer-resources {
    display: flex;
    justify-content: space-around;
    margin-bottom: 32px;
}
