/* Import styles here */
@import 'components/button.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');
/* Make a color palette here, use them like this var(--blue) */
:root {
    --light-brown: #d2b48c;
    --brown: #86563c;
    --orange: #ff5733;
    --blue: #00bfff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
  font-weight: bold;
}

.navbar--logo {
  width: 40px;
  height: 40px;
}
