/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

/* Stylesheets */
@import 'components/about-us.css';
@import 'components/button.css';
@import 'components/footer.css';

/* Make a color palette here, use them like this var(--blue) */
:root {
    --light-brown: #d2b48c;
    --brown: #86563c;
    --orange: #ff5733;
    --blue: #00bfff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    font-weight: bold;
}

.navbar--logo {
    width: 40px;
    height: 40px;
}

.wide-container {
    position: relative;
    width: 100%;
}

.section--what-we-do {
  background-image: url("../img/maroon_hide.jpg");
  height: 80vh;
}

.section--who-we-are {
}

.section--who-we-are-img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.section--who-we-are-btn {
  background-color: var(--blue);
}

.section--who-we-are-info {
  background-color: var(--light-brown);
}

.section--hide-camps {
  background-color: var(--brown);
}

.section--contact-form {

}
