/* Import styles here */
@import 'components/button.css';

/* Make a color palette here, use them like this var(--blue) */
:root {
    --grey: #1c2022;
    --blue: #3f54a3;
    --red: #ed2c49;
    --cyan: #69becd;
    --green: #aad741;
    --pink: #cf6390;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
